<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Zephyr Visuals</title>
	<link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
	<nav>
		<ul>
			<li style="float: left" id="logo"><a href="">Zephyr Visuals</a></li>
			<li><a href="/">Home</a></li>
	  		<li><a href="#">About</a></li>
	  		<li><a href="#">Team</a></li>
	  		<li><a href="#">Pricing</a></li>
	  		<li><a href="#">Contact</a></li>
		</ul>
	</nav>