<% include partials/header.ejs %>

<div class="container">
	<div class="photography presentationBox">
		<img src="http://via.placeholder.com/300x400" alt="">
		<p>
			<h1>Photography</h1>
			See Portfolio
		</p>
	</div>
</div>

<% include partials/footer.ejs %>